header.c-header-home
  .o-container.-border
    .c-header-home_background.o-ratio.-no-overflow(class='u-16:9')
      .c-header-home_image
        .c-gl-image(data-gl-image-factor='1' data-gl-image-mask-src='mask.jpg')
          .c-gl-image_wrap(data-gl-image='wrap')
            canvas
          //- video(src='reel.mp4' autoplay muted loop playisinline='true' role='presentation' data-gl-image='media' crossorigin="anonymous")
          img(src='7.jpg' data-gl-image='media' crossorigin="anonymous")