figure.preview
  .preview__bg.aspect
    .preview__img(data-gl-image-factor='1' data-gl-image-mask-src='mask.jpg')
      .webgl__wrapper(data-gl-image='wrap')
        canvas
      img(src='7.jpg' data-gl-image='media' crossorigin="anonymous")