.slider.js-slider
  .slider__inner.js-slider__inner
    .slide.js-slide
      h1.slide__title Beyond b.
    .slide.js-slide
      h1.slide__title Aldo
    .slide.js-slide
      h1.slide__title Vistaprint
    .slide.js-slide
      h1.slide__title Fova
    .slide.js-slide
      h1.slide__title Mailchimp
    .slide.js-slide
      h1.slide__title Motions
    .slide.js-slide
      h1.slide__title Google
    .slide.js-slide
      h1.slide__title Trash
  
  .text.text--bottom-left Scroll to explore