body, html{
  height: 100%;
  overflow: hidden;
  // overscroll-behavior-y: none;
  user-select: none;
}

body{
  font-family: 'Canela';
  font-size: 100%;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  position: relative;
  overflow: hidden;
  background-color: #0D0E13;
  user-select: none;
}
