.slider {
  // position: relative;
  position: fixed;
  height: 100%;
  width: 100%;
  // overflow: auto;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;

  &.is-scrolling{
    // cursor: grabbing;
    
    .slide {
      transform: scale(0.9);
    }
  }
}

.slide {
  position: relative;
  text-align: center;
  /* height: clamp(300px, 80%, 700px) */
  min-height: 100px;
/*   max-height: 1000px; */
/*   height: 38%; */
  height: 21vw;
  transition: transform .6s cubic-bezier(.165,.84,.44,1);
}

.slide__title {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  margin: 0;
  font-size: 14vw;
  font-weight: normal;
  color: #fff;
}

.text{
  position: absolute;
  color: #666;
  left: 4rem;
  bottom: 3rem;
}