.slider {
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;

  &.is-scrolling{
    .slide {
      transform: scale(0.9);
    }
  }

  &.is-grabbing{
    cursor: grabbing;
    
    .slide {
      transform: scale(0.9);
    }
  }
}

.slide {
  position: relative;
  // text-align: center;
  display: flex;
  justify-content: center;
  height: 21vw;
  min-height: 100px;
  opacity: 0.3;
  transition: transform .6s cubic-bezier(.165,.84,.44,1), opacity .6s cubic-bezier(.165,.84,.44,1);
}

.slide.is-active {
  opacity: 1;
}

.slide__title {
  cursor: pointer;
  position: absolute;
  transform: translateY(-50%);
  // width: 100%;
  margin: 0;
  font-size: 14vw;
  font-weight: normal;
  color: #fff;
}

.text{
  position: absolute;
  color: #666;
  left: 4rem;
  bottom: 3rem;
}